ClientGudang/Connected Services/ServiceReference3/ServiceGudang.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://gudangbajuu.com:8011/ServiceGudang.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceGudang" />
  <xs:element name="databarang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDBarang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NamaBrand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ukuran" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JumlahBarang" type="xs:int" />
        <xs:element minOccurs="0" name="IDLokasi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="databarangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="databarangResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDataBarang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDBarang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NamaBrand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ukuran" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editDataBarangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editDataBarangResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDataBarang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDBarang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDataBarangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteDataBarangResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRegist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRegistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceGudang" minOccurs="0" name="DataRegistResult" nillable="true" type="q1:ArrayOfDataRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviewLokasi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviewLokasiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceGudang" minOccurs="0" name="ReviewLokasiResult" nillable="true" type="q2:ArrayOfCekLokasi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailLokasi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DetailLokasiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceGudang" minOccurs="0" name="DetailLokasiResult" nillable="true" type="q3:ArrayOfDetailLokasi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataBarang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataBarangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceGudang" minOccurs="0" name="DataBarangResult" nillable="true" type="q4:ArrayOfDataBarang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>